/* Add screen styles below */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400..700&display=swap');

body {
    margin: 70px;
    font-family: 'Instrument Sans', sans-serif;
    background-color: #F8F8F8;
    color: #1B1B1B;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-photo {
    width: 180px;
}

.profile-info h1 {
    margin: 0;
    font-weight: 600;
    font-size: 32px;
}

.profile-info p {
    margin: 5px 0 0 0;
    color: rgb(27, 27, 27, 0.5);
    font-weight: 500;
    font-size: 20px;
}

.profile-actions {
    margin-left: auto;
}

.profile-actions button {
    width: 180px;
    font-weight: 700;
    font-size: 20px;
    margin-left: 9px;
    border-radius: 20px;
    border: 1px solid #8DB3E3;
    color: #8DB3E3;
    background-color: #F8F8F8;
    height: 38px;
}

.profile-actions button:first-child {
    background-color: #8DB3E3;
    color: #F8F8F8;
}

.main-content {
    margin-top: 58px;
    display: flex;
    gap: 18px;
}

.left-card {
    flex: 2;
    background-color: rgb(141, 179, 227, 0.2);
    padding: 25px;
    border-radius: 10px;
}

.left-card h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.left-card p {
    color: rgb(27, 27, 22, 0.75);
    margin: 14px 0 32px 0;
    font-size: 16px;
    line-height: 1.5em;
}

.right-card {
    flex: 1;
    background-color: rgb(141, 179, 227, 0.2);
    padding: 25px;
    border-radius: 10px;
}

.right-card h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

.right-card ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.skills-list li {
    display: inline-block;
    border: 1px solid #8DB3E3;
    background-color: #F8F8F8;
    padding: 6px 12px;
    border-radius: 20px;
    margin: 0 2px 2px 0;
    font-size: 14px;
    font-weight: 500;
}

.right-card p {
    color: rgb(27, 27, 22, 0.75);
    margin: 10px 0 32px 0;
    font-size: 14px;
    line-height: 1.5em;
}

.right-card li {
    margin-bottom: 6px;
    font-size: 14px;
}

.projects {
    margin-top: 48px;
}

.project-cards {
    display: flex;
    gap: 20px;
}

.project-cards img {
    width: 272px;
}